.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  perspective: 3000px;
}

.cards_carousel{
  display: flex;
  justify-content: center;
  width: calc(100vw / 3 - 10%); /*Largura vai ser de 100% do espaço disponivel, divide por 3 (três cards) - 8% que vai ser o espaçamento*/
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in;
}

.controller {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  bottom: 1.5rem;
  width: 100%;
}

.controller__button {
  display: flex;
  align-items: center;
  justify-content:center ;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.controller__button:hover {
  transform: scale(1.1);
}

.controller__button:nth-child(2) { /*Vai selecionar o segundo filho*/
  margin: 0 2.75rem;
}

.controller__button_active{
  background-color: white;
  color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  outline: 0.125rem solid white; /*cria borda externa*/
}

.controller__line {
 background-color: white;
 width: 50%;
 height: 2px;
 position: absolute;
}