.description {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 60%;
  padding: 20px;
  border-radius: 10px;
}
.description__text p {
  color: white;
  line-height: 170%;
}

.pills {
  margin-bottom: 20px;
}

.pills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pills ul li {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  margin: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .pills ul li {
    margin: 5px auto;
  }
}
