.gallery {
  padding: 20px;
  padding-left: 25px;
}

.gallery ul {
  display: flex;
  flex-direction: row;
}

.gallery ul li {
  margin-left: 25px;
}

.gallery ul li:first-child {
  margin-left: 0px;
}

.gallery ul li img {
  border: solid 6px white;
  border-radius: 15px;
  width: 300px;
  height: 200px;
}

@media (max-width: 1355px) {
  .gallery ul {
    flex-wrap: wrap;
  }

  .gallery ul li {
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .gallery ul {
    justify-content: center;
  }
  .gallery ul li {
    margin: 15px 5px;
  }
}
