.logo img {
  margin-top: 30px;
  margin-left: 0;
  margin-bottom: 30px;
  max-width: 70%;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}
