.menu {
  padding: 1rem 0; /*usar rem ajuda na acessibilidade do site*/
  width: 100%;
  text-align: center;
  position: relative;
}

.menu ul li {
  display: inline-block; /*Para que os items fiquem lado a lado*/
  text-transform: uppercase;
  margin: 0 1.25rem;
}

.iconNavbar {
  width: 2rem;
  margin: 0 1.25rem;
  vertical-align: middle; /*alinha verticalmente no meio*/
}

@media (max-width: 768px) {
  .menu ul li {
    display: block;
    text-shadow: 2px 5px 5px black;
  }
}
