.navigator {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.navigator::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  z-index: 0;
}

.navigator__icon {
  position: absolute;
  top: -20px;
}

.navigator ul {
  z-index: 1;
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child {
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  color: white;
  border: solid 2px white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator ul li a:hover,
.navigator ul li a.active {
  color: var(--primary-color);
  background-color: white;
}

@media (max-width: 768px) {
  .navigator {
    width: 90%;
    height: auto;
  }
  .navigator__icon {
    top: 0;
    left: 0;
  }
  .navigator ul {
    display: flex;
  }
  .navigator ul li {
    margin: 0 20px;
  }
  .navigator::before {
    height: 2px;
    width: 80%;
  }
  .navigator ul li a {
    width: 35px;
    height: 35px;
  }
}
