* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #89001f;
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
